<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codara - Povos Originários & Tecnologia</title>
    {% block style %}
    <link rel="stylesheet" href="../static/codara.css" />
    {% endblock style %}
</head>

<body>
    <header>
        <div class="container">
            <h1>Codara</h1>
            <nav>
                <ul>
                    <li><a href="#inicio" class="navegacao">Blogs</a></li>
                    <li><a href="#sobre" class="navegacao">Sobre</a></li>
                    <li><a href="#noticias" class="navegacao">Serviços</a></li>
                    <li><a href="#noticias" class="navegacao">Equipe</a></li>
                    <li><a href="#contato" class="navegacao">Projeto</a></li>
                </ul>
            </nav>
            <div class="login">
                <span>LOGIN</span>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer id="footer-codara">
        <!-- Círculos decorativos -->
        <div class="decor-circles">
            <span class="circle c1"></span>
            <span class="circle c2"></span>
            <span class="circle c3"></span>
            <span class="circle c4"></span>
            <span class="circle c5"></span>
            <span class="circle c6"></span>
        </div>

        <!-- Conteúdo principal -->
        <div class="footer-content">
            <!-- Logo -->
            <div class="footer-column footer-logo">
                <span>CODARA</span>
            </div>

            <!-- Menu -->
            <div class="footer-column">
                <h4>Menu</h4>
                <ul>
                    <li>Principal</li>
                    <li>Sobre</li>
                    <li>Informação</li>
                </ul>
            </div>

            <!-- Mercado -->
            <div class="footer-column">
                <h4>Mercado</h4>
                <ul>
                    <li>Pesquisa</li>
                    <li>Companhia</li>
                    <li>Termos</li>
                </ul>
            </div>

            <!-- Contato -->
            <div class="footer-column">
                <h4>Contato</h4>
                <ul>
                    <li>Email</li>
                    <li>LinkedIn</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                </ul>
            </div>

            <!-- Boletim Informativo -->
            <div class="footer-column newsletter">
                <h4>Participe de nosso boletim informativo!</h4>
                <form>
                    <input type="email" placeholder="Endereço de email" required>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </footer>

    <footer>
        <p>&copy; 2025 Codara. Todos os direitos reservados.</p>
    </footer>

    <script src="../static/codara.js"></script>

</body>

</html>