{% extends "base.html" %} {% block content %}
<section id="inicio" class="container">
  <div id="cursos-container">
    <span id="cursos">CURSOS</span>
    <img src="../static/imagens/arrow_right.png" alt="" />
  </div>
  <div id="noticias">
    <div id="noticia_principal" class="noticia_container">
      <span>{{noticias[0].title}}</span>
      <img src="../static/imagens/pessoa_comp.png" id="img_principal" />
    </div>
    <div id="noticias_lateral">
      {% for n in range(1,4) %}
      <div class="noticia_lateral noticia_container">
        <span>{{noticias[n].title}}</span>
        <img src="../static/imagens/noticia{{n}}.png" class="img_noticia" />
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="seta_baixo_container">
    <img src="../static/imagens/arrow_right-1.png" alt="">
  </div>
</section>

<section id="jornada">
  <div class="fundo-container">
    <img src="../static/imagens/fundoamarelo.png" class="fundo fundo-amarelo" />
    <img src="../static/imagens/fundobranco.png" class="fundo fundo-branco" />
  </div>

  <div class="conteudo-jornada">
    <h1 id="jornadatitulo">INICIE SUA JORNADA</h1>
    <p id="texto_jornada">
      Para você que não sabe nada <br />
      sobre T.I e nem sabe como <br />
      começar.
    </p>
    <button id="botaocomecar" onclick="location.href='/trilhas'">
      COMEÇAR
    </button>
  </div>
</section>

{% endblock content %}
