{% extends 'base.html' %} {% block content %}

<div id="popup_container">
  <div id="popup_content">
    <div id="closepopup_container">
      <button id="close_popup">X</button>

    </div>
    <span id="popup_title">VÍDEOS</span>

    <div class="ordenador_container">
      <span class="ordenador">1</span>
    </div>
    <div class="ordenador_container">
      <span class="ordenador">2</span>
    </div>
    <div class="ordenador_container">
      <span class="ordenador">3</span>
    </div>

    <span>O que é um domínio?</span>
    <span>O que é HTTP?</span>
    <span>Como a internet funciona?</span>

    <img src="../static/imagens/popup_imgs/Rectangle 109.png" alt="imagem de video ensinando conceitos basicos de internet">
    <img src="../static/imagens/popup_imgs/Rectangle 108.png" alt="imagem de video ensinando conceitos basicos de internet">
    <img src="../static/imagens/popup_imgs/Rectangle 106.png" alt="imagem de video ensinando conceitos basicos de internet">

    <a href="https://www.youtube.com/watch?v=PaOOO2VdBoc">Como funciona a INTERNET</a>
    <a href="https://www.youtube.com/watch?v=PcHbyGVoqZk">Entendendo o protocolo HTTP</a>
    <a href="https://www.youtube.com/watch?v=G-ATT8bljR0">O que é domínio ? Entenda sobre um domínio web.</a>
  </div>
</div>

<div id="trilha_title">
  <h1>FRONT-END</h1>
</div>

<div id="trilha_nodes_container">
  <div class="node_level ">
    <div class="node" id="internetBtn">Internet</div>

    <div class="vertical_line"></div>
  </div>
  <div class="node_level ">
    <div class="node">Html</div>

    <div class="vertical_line"></div>
  </div>
  <div class="node_level nl3">
    <div class="node">JavaScript</div>
    <div class="horizontal_line"></div>
    <div class="node">CSS</div>
    <div class="horizontal_line"></div>
    <div class="node">Hospedagem De VCS</div>

        <div class="vertical_line"></div>
  </div>
  <div class="node_level nl2">
    <div class="node">Sistemas De Controle De Versão</div>
    <div class="horizontal_line"></div>
    <div class="node">Gerenciadores De Pacotes</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Escolha Um Framework</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Escrevendo CSS</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level nl2">
    <div class="node">Pré-Processadores CSS</div>
    <div class="horizontal_line"></div>
    <div class="node">Arquitetura Do CSS</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level nl3">
    <div class="node">Linters E Formatadores</div>
    <div class="horizontal_line"></div>
    <div class="node">Ferramentas De Build</div>
    <div class="horizontal_line"></div>
    <div class="node">Empacotadores De Módulo</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Testes</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Estratégias De Autenticação</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Noções Básicas De Segurança Web</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Componentes Web</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Verificadores De Tipos</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">Renderização No Servidor (SSR)</div>
        <div class="vertical_line"></div>
  </div>
  <div class="node_level">
    <div class="node">GraphQL</div>
  </div>
</div>
<script src="../static/popup.js" charset="utf-8"></script>
{% endblock %}
