{% extends "base.html" %}

{% block content %}

<div id="trilhas_title_container">
    <h1 id="title_trilhas">QUAL ÁREA VOCÊ <br>  PRETENDE TRILHAR?</h1>
    <span>PODEMOS GUIÁ-LO E SIMPLIFICAR OS SEUS PASSOS.</span>
</div>

<div id="trilhas_container">
    <div class="trilhas_field_container">
        <h2>DESENVOLVIMENTO DE SISTEMAS</h2>
        <div class="trilha_button_container">
            <a href="" class="trilha_button">
                <img src="" alt="">
                FRONT-END
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                BACK-END
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                FULL STACK
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                DESENVOLVIMENTO ANDROID
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                DESENVOLVIMENTO IOS
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                DESENVOLVIMENTO DE JOGOS
            </a>
        </div>
    </div>

    <div class="trilhas_field_container">
        <h2>INTELIGÊNCIA ARTIFICIAL E DADOS</h2>
        <div class="trilha_button_container">
            <a href="" class="trilha_button">
                <img src="" alt="">
                Engenheiro de inteligência artificial
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                Cientistas de Dado e IA
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                Analista de Dados
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                MLOps
            </a>
        </div>
    </div>

    <div class="trilhas_field_container">
        <h2>INFRAESTRUTURA E DEVOPS</h2>
        <div class="trilha_button_container">
            <a href="" class="trilha_button">
                <img src="" alt="">
                DevOps
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                Cibersegurança
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                BlockChain
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                Banco de Dados PostgreSQL
            </a>
        </div>
    </div>

    <div class="trilhas_field_container">
        <h2>QUALIDADE, DESIGN E ESCRITA TÉCNICA</h2>
        <div class="trilha_button_container">
            <a href="" class="trilha_button">
                <img src="" alt="">
                Q&A
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                UX Design
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                REDATOR TÉCNICO
            </a>
        </div>
    </div>

    <div class="trilhas_field_container">
        <h2>GESTÃO E PRODUTO</h2>
        <div class="trilha_button_container">
            <a href="" class="trilha_button">
                <img src="" alt="">
                Arquiteto de Software
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                Gerente de Produto
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                Gerente de Engenharia
            </a>
            <a href="" class="trilha_button">
                <img src="" alt="">
                Banco de Dados PostgreSQL
            </a>
        </div>
    </div>
</div>

{% endblock content %}
